@charset "UTF-8";
* {
  margin: 0;
  padding: 0; }

body {
  background-image: linear-gradient(to bottom, #d16ba5, #d169af, #d069ba, #cd69c6, #c76ad3, #ca67d3, #cd63d2, #d05fd2, #dc55c2, #e54ab1, #ec419f, #f03a8d); }

.varela-round-regular {
  font-family: "Varela Round", sans-serif;
  font-weight: 400;
  font-style: normal; }

h1 {
  color: #171717;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
  padding-top: 120px;
  height: 50px;
  font-size: 30px; }

.colorgris {
  color: #747473; }

.ColorSub {
  color: #272829; }

h2 {
  color: #111212;
  font-size: 1.5rem;
  font-style: normal; }

.container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center; }

  .column {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 20px; } }
/*---------------------------*/
.header {
  background-color: #111212;
  position: sticky;
  top: 0; }

.listaNav {
  list-style: none; }

.listaNav .listaLink {
  text-decoration: none;
  color: #757272;
  display: flex;
  justify-content: space-between;
  margin-left: 85%;
  text-align: right; }

.logo {
  width: 100px;
  left: 50%;
  top: 10px; }

.seccionPrincipal {
  background-image: url(../assets/img/headerfondo.jpeg);
  height: 600px;
  background-size: cover; }

.tusonrisa {
  animation: tusonrisa 4s infinite ease-in-out;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 2px; }

.encontranosboton {
  padding: 15px 30px;
  font-size: 18px;
  background-color: #007bff00;
  color: #000000;
  border: black solid 2px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
  .encontranosboton .encontranosboton:hover {
    background-color: #0057b300; }
  .encontranosboton .main-background {
    padding: 80px 0; }

.contenedortarjeta {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px; }

.tarjetas {
  width: calc(33.33% - 20px);
  background-color: #614a666d;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center; }

.tarjetas img {
  max-width: 100%;
  height: 200px;
  /* Altura fija para las imágenes */
  object-fit: cover;
  border-radius: 8px; }

.tarjetas:hover {
  transform: scale(1.05); }

@media screen and (max-width: 768px) {
  .contenedortarjeta {
    flex-direction: column;
    align-items: center; }

  .tarjetas {
    width: calc(100% - 20px);
    /* Ocupar todo el ancho del contenedor */
    margin-bottom: 20px; } }
.footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0; }

.column {
  flex: 0 0 calc(33.33% - 20px);
  max-width: calc(33.33% - 20px); }

.column h4 {
  font-size: 18px; }

.column img {
  max-width: 100%;
  height: auto; }

.mail-signup {
  text-align: center;
  margin-top: 20px; }

.mail-signup h3 {
  margin-bottom: 10px; }

.mail-signup input[type="email"] {
  padding: 10px;
  width: 200px;
  border: none;
  border-radius: 5px; }

.mail-signup button {
  padding: 10px 20px;
  background-color: #fff;
  color: #111212;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px; }

.img-fluid {
  max-width: 100%;
  height: auto; }

.rounded-square {
  border-radius: 10%; }

.tituloformacion {
  color: #fff;
  padding-top: 50px important;
  padding: 10px;
  border-radius: 5px;
  transition: transform 0.3s ease; }

.faculty-photos {
  margin-top: 20px;
  margin-bottom: 20px; }

.faculty-photo {
  margin: 0 10px;
  border-radius: 50%;
  overflow: hidden;
  width: 150px;
  height: 150px; }

.faculty-certificate {
  margin-top: 20px; }

.certificate {
  margin: 0 10px;
  margin-bottom: 20px;
  width: 200px; }

.faculty-photo,
.certificate {
  transition: transform 0.3s ease; }

.faculty-photo:hover,
.certificate:hover {
  transform: scale(2); }

.contact-main {
  text-align: center; }

.contact-section {
  padding: 50px 0; }

.contact-title {
  color: #111212; }

.contact-section p {
  color: #111212;
  margin-bottom: 10px; }

.contact-section p i {
  margin-right: 10px; }

@media (min-width: 768px) {
  .contact-section .col-md-12 {
    width: 100%; } }
.urgencias-section {
  padding: 50px 0; }

.contact-title,
.urgencias-title {
  color: #111212; }

.subtitulo {
  color: #111212;
  margin-top: 30px; }

.descripcion {
  color: #111212;
  margin-bottom: 20px; }

.descripcion img {
  max-width: 100%;
  height: auto; }

@media (max-width: 768px) {
  .descripcion img {
    margin-top: 20px; } }
.productos-section {
  padding: 50px 0;
  text-align: center; }

.productos-title {
  color: #111212; }

.contact-form {
  max-width: 50%;
  margin: 0 auto;
  margin-top: 50px; }

.contact-title {
  color: #111212;
  margin-bottom: 20px; }

.carousel-container {
  text-align: center;
  margin-right: 40px;
  margin-top: 100px;
  margin-bottom: 40px;
  /* Agregamos espacio superior para separarlo del formulario */ }

.carousel-item img {
  max-height: 300px;
  /* Limitamos la altura de las imágenes del carrusel */
  object-fit: cover;
  /* Ajustamos las imágenes para que cubran todo el espacio */ }

/*# sourceMappingURL=style.css.map */
