.tituloformacion {
    color: #fff;
    padding-top: 50px important;
    padding: 10px;
    border-radius: 5px;
    transition: transform 0.3s ease;
}

.faculty-photos {
    margin-top: 20px;
    margin-bottom: 20px;
}

.faculty-photo {
    margin: 0 10px;
    border-radius: 50%;
    overflow: hidden;
    width: 150px;
    height: 150px;
}

.faculty-certificate {
    margin-top: 20px;
}

.certificate {
    margin: 0 10px;
    margin-bottom: 20px;
    width: 200px;
}
.faculty-photo,
.certificate {
  transition: transform 0.3s ease;
}

.faculty-photo:hover,
.certificate:hover {
  transform: scale(2.0);
}
