* {
    margin: 0;
    padding: 0; 
}   
body {
    background-image: linear-gradient(to bottom, #d16ba5, #d169af, #d069ba, #cd69c6, #c76ad3, #ca67d3, #cd63d2, #d05fd2, #dc55c2, #e54ab1, #ec419f, #f03a8d);
}
.varela-round-regular {
    font-family: "Varela Round", sans-serif;
    font-weight: 400;
    font-style: normal;
}
